<nav class="navbar navbar-expand-lg navbar-dark nav-bar-bg">
  <a class="navbar-brand" href="#">
    <%= image_tag("online-education.svg", size: "30x30", alt: "Demo App") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
